################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/KaamelotSampler/.vs/KaamelotSampler
/KaamelotSampler/KaamelotSampler/bin
/KaamelotSampler/KaamelotSampler/obj
*.user
/KaamelotSampler/KaamelotSampler.Android/bin
/KaamelotSampler/KaamelotSampler.Android/obj
/KaamelotSampler/KaamelotSampler.iOS/obj
/KaamelotSampler/KaamelotSampler.UITests/bin/Debug
/KaamelotSampler/KaamelotSampler.UITests/obj
/KaamelotSampler/KaamelotSampler.UWP/obj
